.root {
    -fx-background-color: #c9c7c7;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.text-field {
    -fx-font-size: 16;
}

#announcementMessage {
    -fx-background-radius: 6;
}

#joinPageError {
    -fx-background-radius: 6;
    -fx-background-color: #eb4d42;
    -fx-text-fill: #f2f2f2;
}

.button {
    -fx-background-radius: 6;
    -fx-font-size: 20;
    -fx-background-color: #515254;
    -fx-text-fill: #f2f2f2;
    -fx-cursor: hand;
}